@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nexa:wght@400;700&display=swap');

body {
    background-image: radial-gradient(circle, #000b21, #062c50);
    display: grid;
    margin: 0;
    justify-content: center;
}

.titulo_completo {
    display: grid;
    grid-template-columns: 178px 578px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    background-color: black;
}

.titulo {
    display: flex;
    justify-content: center;
}

.title {
    background-color: #D9D9D9;
    font-family: 'Tahoma';
}

.i-title {
    color: #632AAC;
    margin: 23px 54px;
    display: flex;
    font-style: normal;
    font-weight: bolder;
    place-content: center;
}

.login {
    display: flex;
    padding: 18px;
    padding-left: 500px;
}

.login_text {
    border: none;
    background-color: transparent;
    color: white;
    width: 100%;
}

.login_enter {
    background-color: #6C1DCF;
    color: aliceblue;
    border: none;
    font-weight: bolder;
    border-radius: 9px;
}

button {
    font-family: 'Inter';
}

.call_body {
    display: grid;
}

main {
    margin-top: 187px;
    text-align: center;
    color: white;
}

.call_body {
    font-family: 'Poppins';
}

.call {
    font-size: 16px;
}

.call_name {
    font-size: 82.69px;
    font-weight: bold;
    padding-bottom: 0px;
}

.slogan {
    display: flex;
    justify-content: center;
    margin-top: 29px;
    font-size: 16px;
    font-family: 'Inter', 'Inter Regular';
}

.form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.form_text {
    display: flex;
    position: absolute;
    color: black;
}

.form-input {
    border-radius: 5px;
    padding: 15px 2px;
    width: 50%;
}

.form-button {
    padding: 0 30px;
    background-color: #6C1DCF;
    color: currentcolor;
    border-radius: 10px;
    cursor: pointer;
}

.container__catalogo {
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    color: white;
    scroll-behavior: smooth;
}

.titulo__catalogo {
    padding-top: 140px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-weight: 600;
    font-size: 25px;
    color: white;
}

.paragrafo__catalogo {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 15px;
    padding: 25px;
    line-height: 1.rem;
}

.movies-container {
    max-width: 968px;
    margin: 0 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 25px;
    margin-top: 25px;
}

.box .box-imagem {
    width: 100%;
    height: 270px;
    border-radius: 13px;
    transition: 0.3s all linear;
}

.box .box-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid white;
    border-radius: 10px;
}

.box .box-imagem img:hover {
    transform: translateY(-10px);
    transition: 0.2s all linear;
}

.box h3 {
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.box span {
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}


.grid-first {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;
    font-size: 20px;
    gap: 100px;
}

.icon-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    text-align: center;
}

.icon-grid svg {
    width: 60px;
    height: 60px;
}

.icon-grid svg:hover {
    transform: scale(1.2); 
}

.icon-grid p{
    color: white;
}

.icon-background {
    width: 400px;
    height: 300px;
    background-color: #1C1B42;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 40px;
    font-size: 19px;
    box-shadow:  -8px 8px 30px #8ecae6;
}

.info-grid {
    color: white;
    display: block;
    flex-direction: column;
    text-align: justify;
}

.info-grid h1 {
    font-size: 26px;
    padding-bottom: 10px;
    font-family: 'Poppins', sans-serif;
}

.info-grid span {
    font-size: 19px;
    font-family: 'Inter', sans-serif;
}

.info-grid p {
    font-size: 11px;
    font-family: 'Inter', sans-serif;
    margin-top: 62px;
}


.grid-second {
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    margin: 0 10em;
    margin-top: 80px;
    font-size: 20px;
    gap: 100px;
}

.icon-background-second {
    width: 400px;
    height: 300px;   
    border-radius: 5px;
    display: flex;
}

.img-second {
    width: 88%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid #ffffff;
}


.first-section{
    color: aliceblue;
    margin-top: 300px;
}

.text{
    color:white;
    display: flex;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.container-one{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.item{
    width: 200px;
    height: 350px;
    background-color: #f1f5f9;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
}

.item2{
    width: 210px;
    height: 395px;
    background-color: #f1f5f9;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    padding: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.item3{
    width: 200px;
    height: 350px;
    background-color: #f1f5f9;
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    border-radius: 5px;
}

.linha{
    border-top: 1px solid black;
    margin: 20px 0;
}

.valores{
    justify-content: center;
    align-items: center;
}

#botao{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 55px;
    background-color: #0073d0; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 10px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto */
   /* text-decoration: none; /* Remove sublinhado */
    font-size: 14px; /* Tamanho da fonte */
    cursor: pointer; /* Altera o cursor ao passar por cima */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Borda arredondada */
}

#botao:hover {
   background-color: #000000; /* Cor de fundo mais escura */
}

/* Estilos quando o botão é pressionado */
#botao:active {
    background-color: #050505; /* Cor de fundo ainda mais escura */
}
.icon {
    color:#0073d0; /* Define a cor vermelha para os ícones */
}


.fim{
    color: white;
    font-family:'Inter', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -30px;
    padding: 0;
}

.corpo-faq {
    margin-top: 150px;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo-faq {
    color: white;
    margin-bottom: 90px;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.container_faq {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 500px;
}

.accordion {
    background-color: #fff;
    border-radius: 15px;
    padding: 12px;
    /*cursor: pointer;*/
    box-shadow: 5px 15px 5px rgba(0, 0, 0, 1.2)
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    cursor: pointer;
}

.accordion-header span {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    padding: 10px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    color: black;
    font-size: 13px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.9s ease-in-out;
}

.accordion-body p{
    padding-top: 10px;
    font-family:Verdana;
    text-align:justify;
    line-height: 1.5rem;
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}

.arrow {
    transition: transform 0.2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}